@import '/vendor/filament/filament/resources/css/theme.css';

@layer components {

    .lesson-step-editor,
    .lesson-step-viewer {
        @apply grid grid-cols-[1fr_1fr_1fr] grid-rows-[1fr_1fr_1fr] gap-5 pt-4 pb-5 px-8 *:min-w-0 *:min-h-0;
        .fi-fo-field-wrp {
            @apply h-full;
        }
        .fi-fo-field-wrp > .grid {
            @apply h-full grid-rows-[auto_1fr];
            > * {
                @apply min-h-0;
            }
        }
        .fi-input-wrp-input {
            > div {
                @apply flex flex-col h-full;
                .fi-fo-rich-editor-editor {
                    @apply grow p-4;
                }
            }
        }
        .code-mirror {
            &, > * {
                @apply h-full min-h-0;
            }
        }
    }
    .lesson-step-editor {
        > * {
            @apply min-w-0 min-h-0;
            &:nth-child(1) {
                @apply row-span-3;
            }
            &:nth-child(2) {
                @apply col-span-2;
            }
            &:nth-child(3) {
                @apply col-span-2;
            }
            &:nth-child(4) {
                @apply col-span-2;
            }
        }
    }
    .lesson-step-viewer {
        > * {
            @apply min-w-0 min-h-0;
            &:nth-child(1) {
                @apply row-span-3;
            }
            &:nth-child(2) {
                @apply row-span-2;
                @apply col-span-2;
            }
            &:nth-child(3) {
                @apply col-span-2;
            }
        }
    }

    .diff-wrapper.diff {
        --tab-size: 4;
        @apply w-full break-all text-sm font-mono bg-zinc-100 dark:bg-black;
        th {
            @apply font-semibold cursor-default select-none;
        }
        td {
            @apply align-baseline;
        }
        td, th {
            @apply px-2;
        }
        td:empty::after,
        th:empty::after {
            content: " ";
            visibility: hidden;
        }
        thead th {
            @apply bg-zinc-200 px-2 py-1 text-left dark:bg-zinc-800;
        }
        tbody {
            &.skipped {
                td, th {
                    @apply hidden;
                }
            }
            th {
                @apply text-right align-top w-12 font-normal dark:text-zinc-400;
            }
        }
        &.diff-html {
            @apply whitespace-pre-wrap;
            tab-size: var(--tab-size);
            .change {
                &.change-eq {
                    .old,
                    .new {
                        @apply bg-white dark:bg-zinc-900;
                    }
                }
                .old {
                    @apply bg-red-100 dark:bg-red-900;
                }
                .new {
                    @apply bg-green-100 dark:bg-green-900;
                }
                .old.none,
                .new.none,
                .rep.none {
                    @apply cursor-not-allowed bg-transparent;
                }
                ins,
                del {
                    @apply font-normal no-underline;
                }
                ins {
                    @apply bg-green-200 dark:bg-green-700;
                }
                del {
                    @apply bg-red-200 dark:bg-red-700;
                }
            }
        }
    }
    
}